* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainColor: ;
  --secondaryColor: ;
  --accentColor: ;
  --secondaryAccentColor: ;
  --mainFontColor: ;
  --secondaryFontColor: ;
}

.body {

}




/* CSS FOR HEADER AND FOOTER DO NOT TOUCH */

.header {

}

.footer {

}