*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.body{
    display: flex;
    height: auto;
    max-width: 100vw;
}
/* -------------------MAIN---------------- */
.main{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}
/* -----------------CONTENEUR ONE ------------ */
.conteneurOne{
    display: flex;
    flex-direction: column;
    height: 85vh;
    width: 100%;
    background-image: url(./assets/imagesOne.jpg);
    background-size: cover;
}
.contOne-blockOne{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
}
.contOne-titleOne{
    font-size: 4em;
    height: auto;
    width: auto;
}
.contOne-titleTwo{
    font-size: 1.25em;
    height: auto;
    width: auto;
}
/* -------------------------CONTENEUR TWO---------------------- */
.conteneurTwo{
    display: flex;
    flex-direction: column;
    height: 90vh;
    background-color: rgb(225, 225, 225);
}
.contTwo-blockOne{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
    margin-top: 120px;
    margin-bottom: 120px;
    width: 30%;
    height: 10%;
    border-top: solid 2px rgb(73, 0, 0);
    border-left: solid 2px rgb(73, 0, 0);
    background-color: rgb(213, 213, 213);
}
.contTwo-titleOne{
    display: flex;
    height: auto;
    width: auto;
    text-align: center;
    font-size: 16px;
}
.contTwo-blockTwo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    height: auto;
    width: 80%;
    margin-left: 70px;
    margin-right: 70px;
    border-top: solid 2px rgb(73, 0, 0);
    border-left: solid 2px rgb(73, 0, 0);
    background-color: rgb(187, 187, 187);
}
.contTwo-text{
    display: flex;
    height: auto;
    width: auto;
    text-align: center;
    font-size: 16px;
}