* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

html {
	scroll-behavior: smooth;
}

:root {
	--mainColor: #f1f1f1;
	--secondaryColor: #d8d8d8;
	--accentColor: #bb002d;
	--secondaryAccentColor: ;
	--mainFontColor: #130004;
	--secondaryFontColor: ;
	--shadowColor: rgba(0, 0, 0, 0.25);

	--darkMainColor: #202020;
	--darkSecondaryColor: #464646;
	--darkMainFontColor: #dbdbdb;
}

.body {
	min-width: 370px;
	max-width: 100vw;
	height: auto;
	display: flex;
  flex-direction: column;
	position: relative;
	font-family: "Oswald", sans-serif;
	font-family: "Hind Siliguri", sans-serif;
	font-family: "Montserrat", sans-serif;
  transition: 100ms;
}

/* CSS FOR HEADER AND FOOTER DO NOT TOUCH */
/* MOBILE */
.mobile {
	min-width: 370px;
	width: 100%;
	height: 100%;
	display: flex;
}

.header {
	position: fixed;
	top: 0;
	min-width: 370px;
	width: 100%;
	height: 55px;
	box-shadow: 0 4px 12px var(--shadowColor);
	transition: top 200ms;
  z-index: 10;
}

.headerAbove {
	width: 100%;
	height: 100%;
	display: flex;
	background-color: var(--mainColor);
	flex-direction: row;
	justify-content: center;
	align-items: center;
	z-index: 10;
}

.headerLeft {
	width: 50%;
	height: 100%;
	display: inherit;
}

.headerRight {
	width: 50%;
	height: 100%;
	display: inherit;
	justify-content: flex-end;
}

.headerRightLeft {
	width: 60px;
	display: inherit;
	justify-content: center;
	align-items: center;
}

#themeButtonDesktop {
  display: none;
}

.themeButton {
	width: 30px;
	height: 15px;
	border-radius: 15px;
	background-color: rgb(204, 204, 204);
	border: none;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.themeButton:hover {
	cursor: pointer;
}

.sliderSwitch {
	justify-content: flex-end;
}

.themeButtonSlider {
	width: 15px;
	height: 15px;
	background-color: black;
	border-radius: 15px;
}

.headerRightRight {
	width: auto;
	height: 100%;
	display: inherit;
}

.navButton {
	width: 55px;
	height: 55px;
	border: none;
	background: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: 200ms;
}

.navButton:hover {
	cursor: pointer;
}

.rotate90 {
	transform: rotate(-90deg);
}

.menuLogoBars {
	width: 30px;
	height: 2px;
	background-color: #686868;
	margin-top: 3px;
	margin-bottom: 3px;
	position: relative;
}

.cross {
	transform: rotate(45deg);
	margin: 0;
	position: absolute;
}

.crossInverted {
	transform: rotate(-45deg);
	margin: 0;
	position: absolute;
}

.hide {
	display: none;
}

.homeLink {
  padding: 4px;
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.navMenu {
	position: absolute;
	top: -165px;
	left: 0;
	width: 100%;
	height: auto;
	background-color: var(--secondaryColor);
	color: var(--mainFontColor);
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: 200ms;
}

.deployMenu {
	top: 55px;
}

.navList {
	padding: 0;
	list-style: none;
	color: inherit;
	width: 100%;
	height: 100%;
}

.navLink {
	width: 100%;
	height: 55px;
	color: inherit;
	border-top: solid 1px var(--accentColor);
	transition: 50ms;
}

.navLink:first-child {
	border-top: none;
}

.navLink:active {
	background-color: var(--mainColor);
}

.navLink a {
	height: 100%;
	width: 100%;
	padding: 8px;
	color: inherit;
	text-decoration: none;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.navLink a img {
	margin-right: 18px;
}
/* MOBILE END */

/* DESKTOP */
.desktop {
	width: 100%;
	height: 100%;
	background-color: var(--mainColor);
	display: none;
	justify-content: space-evenly;
	align-items: center;
}

.desktop .headerLeft {
	height: 100%;
	display: flex;
	align-items: center;
}

.desktop .headerMid {
	height: 100%;
  display: flex;
  justify-content: center;
}

.desktop .headerRight {
	height: 100%;
	display: flex;
	align-items: center;
}

.desktop .menu {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	list-style: none;
}

.desktop .menu .menuList {
	width: 50%;
	height: 100%;
	transition: 400ms;
}

.menuList a {
  padding: 12px;
	width: 100%;
	height: 100%;
	font-size: 22px;
	text-decoration: none;
	color: var(--mainFontColor);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 200ms;
	box-sizing: border-box;
}

.menuList a:hover {
	background-color: var(--secondaryColor);
	border-bottom: solid 8px var(--accentColor);
  transition: 200ms;
}
/* DESKTOP END */

/* FOOTER */
.footer {
	bottom: 0;
	width: 100%;
	height: 70px;
	background-color: var(--secondaryColor);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	box-shadow: 0 -4px 12px var(--shadowColor);
}

.rightFooter,
.leftFooter {
	display: none;
}

.upperFooter {
	width: 100%;
	min-height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.midFooter {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.networks {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	list-style: none;
}

.networkList {
	width: 50%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 8px 0 8px;
	transition: 100ms;
  filter: brightness(90%);
}

.networkList:hover,
.networkList:active {
  image-rendering: optimizeQuality;
	filter: brightness(105%);
}

.networkList a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.networkList img {
  max-width: 48px;
}

.copyrights {
	font-size: 14px;
	color: #888888;
}

/* DESKTOP LAYOUT */

@media screen and (min-width: 950px) {
	.mobile {
		display: none;
	}

	.desktop {
		display: flex;
	}

	.header {
		height: 80px;
		position: inherit;
		top: auto;
	}

#themeButtonDesktop {
  display: flex;
}

  .themeButton {
    position: absolute;
    top: 86px;
    right: 6px;
  }

	.footer {
		height: 148px;
		padding: 16px;
		flex-direction: row;
	}

	.rightFooter {
		padding-left: 10%;
		width: 35%;
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
	}

	.midFooter {
		width: 30%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.leftFooter .homeLink {
		height: 80px;
		justify-content: center;
		align-items: center;
	}

	.footerLogo {
		transform: scale(0.3);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.leftFooter {
		display: flex;
		flex-direction: column;
		width: 35%;
		height: 100%;
	}

	.footerList {
		width: 80%;
		height: 60%;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		list-style: none;
	}

	.footerLinks {
		height: 22px;
		color: var(--mainFontColor);
		text-decoration: none;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.footerLinks:hover {
		color: var(--darkSecondaryColor);
	}

	.upperFooter {
		width: 100%;
		height: 100%;
		justify-content: center;
		flex-direction: column;
	}
}

/* DARK THEME */

.dark {
	background-color: var(--darkMainColor);
	color: var(--darkMainFontColor);
}

.dark .footerLinks {
  color: var(--darkMainFontColor);
}

.dark .footerLinks:hover {
  color: var(--mainColor);
}

.activityCard.dark .cardTitle {
  background-color: var(--accentColor);
}

.darkThemeButton {
	background-color: #686868;
}

.darkNavMenu, .dark .contTree-backStyle, .dark .contTwo-backStyle, .dark .contFoor-backStyle {
	background-color: var(--darkSecondaryColor);
	color: var(--darkMainFontColor);
}

.desktopNavDark a {
  background-color: var(--darkMainColor);
  color: var(--darkMainFontColor);
}

.desktopNavDark a:hover {
  background-color: var(--darkSecondaryColor);
}

.dark .cardTitle, .dark .cardRow, .dark .serviceDesc {
  background-color: var(--darkSecondaryColor);
}

.dark .cardRow:active {
  filter: brightness(120%);
}

.cardRowDark {
  background-color: var(--darkSecondaryColor);
}

.cardRowDark .cardText {
  color: var(--darkMainFontColor);
}

.darkText, .contFoorRow .darkText {
  color: var(--darkMainFontColor);
}

.darkForm {
  background-color: #727272;
  color: var(--darkMainFontColor);
}

.darkForm::placeholder {
  color: #adadad;
}