* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--mainColor: #F1F1F1;
	--secondaryColor: #d8d8d8;
	--accentColor: #BB002D;
	--secondaryAccentColor: ;
	--mainFontColor: #130004;
	--secondaryFontColor: ;
  --shadowColor: rgba(0, 0, 0, 0.25);

  --darkMainColor: #202020;
	--darkSecondaryColor: #464646;
	--darkMainFontColor: #dbdbdb;
}

.body {
	min-width: 360px;
	width: 100vw;
  max-width: 100vw;
	height: 100vh;
	background-color: grey;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* CSS FOR HEADER AND FOOTER DO NOT TOUCH */

.header {
	width: 100%;
	height: 60px;
	background-color: var(--mainColor);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
  box-shadow: 0 4px 12px var(--shadowColor);
  z-index: 10;
}

.headerLeft {
	width: 50%;
	height: 100%;
	display: inherit;
}

.headerRight {
	width: 50%;
	height: 100%;
	display: inherit;
	justify-content: flex-end;
}

.headerRightLeft {
	width: 60px;
	height: 60px;
	display: inherit;
	justify-content: center;
	align-items: center;
}

.themeButton {
	width: 30px;
	height: 15px;
  border: solid 1px var(--darkMainColor);
  border-radius: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.themeButton:hover {
  cursor: pointer;
}

.sliderSwitch {
  justify-content: flex-end;
}

.themeButtonSlider {
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 15px;
}


.headerRightRight {
	width: auto;
	height: 100%;
	display: inherit;
}

.navButton {
	width: 60px;
	height: 60px;
	border: none;
	background: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: 200ms;
}

.navButton:hover {
	cursor: pointer;
}

.rotate90 {
	transform: rotate(-90deg);
}

.menuLogoBars {
	width: 30px;
	height: 2px;
	background-color: var(--darkSecondaryColor);
	margin-top: 3px;
	margin-bottom: 3px;
}

.homeLink {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
}

.navMenu {
  position: absolute;
  top: -180px;
  left: 0;
  width: 100%;
  height: auto;
  background-color: var(--secondaryColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 200ms;
  z-index: 8;
}

.deployMenu {
  top: 60px;
}

.navList {
  padding: 0;
  list-style: none;
  width: 100%;
  height: 100%;
}

.navLink {
  width: 100%;
  height: 60px;
  border-top: solid 1px var(--accentColor);
}

.navLink:first-child {
  border-top: none;
}

.navLink a {
  height: 100%;
  width: 100%;
  padding: 8px;
  color: var(--mainFontColor);
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navLink a img {
  margin-right: 18px;
}




.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 56px;
  background-color: var(--secondaryColor);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -4px 12px var(--shadowColor);
}


/* DARK THEME */

.dark {
  background-color: var(--darkMainColor);
  color: var(--darkMainFontColor);
}

.darkThemeButton {
  background-color: #3a3a3a;
}

.darkNavMenu {
  background-color: var(--darkSecondaryColor);
  color: var(--darkMainFontColor);
}