

* {
    margin: 0;
    padding: 0;
}

:root {
	--mainColor: #f1f1f1;
	--secondaryColor: #d8d8d8;
	--accentColor: #bb002d;
	--secondaryAccentColor: ;
	--mainFontColor: #130004;
	--secondaryFontColor: ;
	--shadowColor: rgba(0, 0, 0, 0.25);

	--darkMainColor: #202020;
	--darkSecondaryColor: #464646;
	--darkMainFontColor: #dbdbdb;
}

/* CONTACT SECTION */
.body {
	min-width: 360px;
	max-width: 100vw;
	min-height: 100vh;
	display: flex;
  flex-direction: column;
  justify-content: center;
	position: relative;
	font-family: "Oswald", sans-serif;
	font-family: "Hind Siliguri", sans-serif;
	font-family: "Montserrat", sans-serif;
}
  
  input[type=text], textarea, input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-left: 0px;
    resize: none;
  }
  label{margin-right: 0px;
    margin-left: 0px;
    width: 100%;}
  
  input[type=submit] {
    background-color: #1255a2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #1872D9;
  }
  
  .contact {
    /* Ajouter box-sizing */
    padding: 500px;
    box-sizing : border-box;
    border-radius:6px;
    background-color:#f2f2f2;
    padding:20px;
    width: 100%;
    max-width: 440px;
    margin:0 auto;
  }
  h1  {
    color: black;
    width: 100%;
  }


